{% extends 'base.html' %}

{% block head %}
<title>Human Resources System</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Human Resources System</h1>
    <h3>Logged in as {{ auth.get_name() }}</h3>
    {% if auth.can_display() %}
    {% if employees|length < 1 %} <h4>There are no employees</h4>
    {% else %}
        <table>
            <tr>
                <th>userID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Valid from</th>
                <th>Valid to</th>
                <th>Identity status</th>
                <th>Business role</th>
                <th>Manager</th>
                <th>Actions</th>
            </tr>
            {% for employee in employees %}

            <tr>
                <td>{{ employee.user_id }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.valid_from.strftime('%Y-%m-%d') }}</td>
                <td>{{ employee.valid_to.strftime('%Y-%m-%d') }}</td>
                <td>{{ employee.identity_status }}</td>
                <td>{{ employee.business_role }}</td>
                <td>{{ employee.manager }}</td>
                <td>
                    {% if auth.can_change_status() %}
                    <form action="/change-status/{{ employee.user_id }}" method="POST" class="button-form">
                        <button type="Submit">Change status</button>
                    </form>
                    {% endif %}
                    {% if auth.can_update() %}
                    <form action="/update/{{ employee.user_id }}" class="button-form">
                        <button type="Submit">Update</button>
                    </form>
                    {% endif %}
                    {% if auth.can_delete() %}
                    <form action="/delete/{{ employee.user_id }}" class="button-form">
                        <button type="Submit">Delete</button>
                    </form>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            
        </table>
        <br>
        <a href="/create" {% if not auth.can_create() %} disabled {% endif %}>Create new employee</a>
    {% else %}
    <h3 style="color:red">!! You are not authorized !!</h3>
    {% endif %}
</div>
{% endblock %}