{% extends 'base.html' %}

{% block head %}
<title>Human Resources System</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Human Resources System</h1>

    {% if employees|length < 1 %} <h4>There are no employees</h4>
        {% else %}
        <table>
            <tr>
                <th>userID</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Valid from</th>
                <th>Valid to</th>
                <th>Identity status</th>
                <th>Job title name</th>
                <th>Manager</th>
                <th>Actions</th>
            </tr>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.user_id }}</td>
                <td>{{ employee.first_name }}</td>
                <td>{{ employee.last_name }}</td>
                <td>{{ employee.valid_from.strftime('%Y-%m-%d') }}</td>
                <td>{{ employee.valid_to.strftime('%Y-%m-%d') }}</td>
                <td>{{ employee.identity_status }}</td>
                <td>{{ employee.job_title_name }}</td>
                <td>{{ employee.manager }}</td>
                <td>
                    <form action="/change-status/{{ employee.user_id }}" method="POST" style="display:inline">
                        <button type="Submit">Change status</button>
                    </form>
                    <br>
                    <a href="">Update</a>
                </td>
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        <br>
        <a href="/create">Create new employee</a>

</div>
{% endblock %}