<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    {% block head %}{% endblock %}
</head>
<body>
    <div class="header">
        <h1>Request Management System</h1>
        <p style="text-align: right">Logged in as {{ auth.get_name() }}<br>
        <a href="/logout">Logout</a></input></p>
    </div>
    {% block body %}{% endblock %}
</body>
</html>