{% extends 'base.html' %}

{% block head %}
<title>Request Management System</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Request Management System</h1>

    {% if requests|length < 1  %}
    <h4>There are no requests</h4>
    {% else %}

    <table>
        <tr>
            <th>Request</th>
            <th>Added</th>
            <th>Actions</th>
        </tr>
        {% for request in requests %}
        <tr>
            <td>{{ request.content }}</td>
            <td>{{ request.date_created.date() }}</td>
            <td>
                <a href="/delete/{{ request.id }}">Delete</a>
                <br>
                <a href="/update/{{ request.id }}">Modify</a>
                <br>
                <a href="">Approve</a>
            </td>
        </tr>
        {% endfor %}
    </table>
        {% endif %}
    <form action="/" method="POST">
        <input type="text" name="content" id="content">
        <input type="submit" value="Add request">
    </form>
</div>
    {% endblock %}